{% extends 'main/base.html.twig' %}
{% block title %}Поиск | Kamplaces - Природные места Камчатки для отдыха
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row no-gutters align-items-center mt-5 search-result-row">
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			{% for place in places %}
				{% for category in nameCategory %}
					<div class="col-12 col-lg-6 col-md-6 content-text mb-2">
						<h4>
							<a href="{{ path('' ~ category.en_title ~ '_id', { 'id': place.id }) }}" class="link-name">{{ place.title }}</a>
						</h4>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
