{% extends 'main/base.html.twig' %}
{% block title %}KamPlaces{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="display-4 text-center">
					{{ title }}
					
				</h1>
				Это сайт посвящен Камчатским местам отдыха и предназначен для информирования пользователей о том, куда можно сходить/съездить отдохнуть, находясь на Камчатке.
				В меню находятся категории мест, пройдя по которым Вы найдете карточки с местами отдыха. Каждая карточка является ссылкой с более подробной информацией о том или ином месте.
				Вы так же можете оставить комментарии под каждым местом отдыха, чтобы поделиться информацией с другими пользователями.
				Если у Вас есть какие-то замечания о некорректности данных какого-либо места отдыха или же Вы хотели бы увидеть на сайте "своё" место отдыха, просьба отправлять письма на "адрес".
				Сайт является бета-версией и не наполнен всеми местами отдыха. Со временем это будет исправляться.
				Сайт является информационным порталом, а не историческим пособием о Камчатской природе. Т.е. сайт не претендует на звание "научно-исторический портал", а лишь информирует пользователей о том какие природные места отдыха есть на Камчатке, что они из себя представляют и как к ним добраться.
			</div>
		</div>
	</div>
{% endblock %}
