{% extends 'main/base.html.twig' %}
{% block title %}Места отдыха на Камчатке
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
			<div class="content-text">
				Цель платформы: информировать людей о том какие природные места для отдыха есть на Камчатке.
				Если у Вас есть какие-то замечания о некорректности данных или же Вы хотели бы увидеть на сайте "своё" Камчатское место, просьба отправлять письма на support@kamplaces.ru.
				Сайт является некоммерческим проектом и не содержит данные обо всех природных Камчатских местах.

			</div>
		</div>
	</div>
{% endblock %}
