{% extends 'main/base.html.twig' %}
{% block title %}Места отдыха на Камчатке - Куда сходить - Чем заняться
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="h4 col-12 col-lg-6 col-md-6 content-text">
				<p>
					Цель платформы: информировать людей о&nbsp;том какие природные места для отдыха есть на&nbsp;Камчатке.
				</P>
				<p>
					Если у&nbsp;Вас есть какие-то замечания о&nbsp;некорректности данных или&nbsp;же Вы&nbsp;хотели&nbsp;бы увидеть на&nbsp;сайте &laquo;своё&raquo; Камчатское место, просьба отправлять письма на&nbsp;support@kamplaces.ru.
				</p>
				<p>
					Сайт является некоммерческим проектом и&nbsp;не&nbsp;содержит данные обо всех природных Камчатских местах.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
