{% extends 'main/base.html.twig' %}
{% block title %}Места отдыха на Камчатке - Куда сходить отдохнуть - Чем заняться на Камчатке
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="h4 col-12 col-lg-6 col-md-10 content-text">
				<p>
					Портал, который помогает людям узнать, где можно отдохнуть на Камчатке.
					Здесь Вы можете оставлять комментарии и делиться своими впечатлениями.
				</P>
				<p>
					О некорректности данных, о добавлении на сайт Камчатского места для отдыха, а также по другим вопросам, просьба писать на почту 
					<a href="mailto:support@kamplaces.ru" class="link-name">support@kamplaces.ru</a>
				</p>
				<p>
					Сайт является некоммерческим проектом и&nbsp;не&nbsp;содержит данные обо всех природных Камчатских местах, а также может содержать неточности.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
