{% extends 'main/base.html.twig' %}
{% block title %}
	Ошибка | Kamplaces - Природные места Камчатки для отдыха
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5">
		<div class="row no-gutters justify-content-center" style="padding: 0 5px">
				<div class="error-page-wrapper shadow-lg">
					<p>
						{{ status_code}} ошибка</p>
					<p>
						Упс, что-то пошло не так!
					</p>
                    <p class="mb-3"> 
                    <a href="{{ path('home') }}" class="btn btn-success">Вернуться на сайт</a>
                    </p>
			</div>
		</div>
	</div>
{% endblock %}