{% extends 'main/base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div class="container-fluid mt-5">
		<div class="row no-gutters justify-content-center">
			<div class="col col-lg-6 col-md-8">
				<div class="form-login-register shadow-lg">
                    Правила здесь.
                </div>
			</div>
		</div>
	</div>


{% endblock %}
