<h1>Приветствую!</h1>

<p>
    Пожалуйста, подтвердите ваш email, нажав на ссылку:<br>
    <a href="{{ signedUrl }}">Подтвердить мою почту</a> <br>
    Эта ссылка перестанет работать через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Спасибо!
</p>
